/* STARTSEITE */

/* Vollbild-Felder */
.frontpage-content {
  color: white;
  /* max-width: 92vw; */
  max-height: 78vh;
  background-color: rgba(1,1,1,0.25);
  border-radius: 0.85em;
  padding: 1.2em 3em 1.2em 3em;
  z-index: 10;
  margin: 0 10% 0 10%;
  max-width: 72rem;

}

/* Hover-Filter Verschwommen */
.frontpage-content:hover .container-image{
  filter: blur(2px);
}

/* Startseite Hintergrundbild */
.container-image {
  background-image: url(../media/HeMan_Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: calc(100vh - 3.5rem);
  width: 100%;
  transition: 0.18s ease;

  /* Für die Kantenpixel */
  /*transform: scale(1.03);*/

}


/* MEDIA QUERIES */
@media (min-width: 46rem) {
  .frontpage-content {
    max-width: 50%;
  }

}
