/* GRID FÜR BEISPIELE ERSCHEINUNGSFORMEN */

.grid-container {
  background-color: #969696;
}

.grid {
  display: grid;
  max-width: 100vw;
  grid-gap: 3em 6%;
  text-align: center;
  padding: 2em;
  grid-template-columns: auto;
  justify-content: space-around;
  align-content: space-around;
}

/* Überschrift */
.grid-headline {
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

/* Items */
.grid-item {
  background-color: white;
  min-width: 18rem;
  max-width: 25rem;
  transition: all .2s ease;
}

.grid-item img {
  max-width: 15rem;
  max-height: 15rem;
  padding: 1rem;
}
.grid-item p {
  content: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr"
  max-width: 10rem;
  text-align: center;
  margin: 0 1rem 1rem 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 46rem) {

  .grid {
    grid-template-columns: auto auto
  }
  .grid-item:hover {
    transform: scale(1.02);
  }
}

@media (min-width: 68rem) {
    .grid {
    grid-template-columns: auto auto auto
  }
}
