/* ALLGEMEINE STYLES */
html {
  scroll-behavior: smooth;
}
p {
  margin: 0;
  font-size: 150%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

/* NAVIGATION */
.nav {
  background-color: #b1c8ed;
}


/* CONTAINER FUER JEDE SEITE */
.pgcontent {
  background-color: #363636;
  padding-top: 3.5rem;
  min-height: 100vh;
}

/* BIS JETZT NUR IMPRESSUM */
.text {
  color: white;
  padding: 3rem;
  max-width: 60rem;
  font-size: 0.75rem;
  margin: auto;
}

.text p {
  margin-bottom: 2rem;
}


/* KARTEN DESIGN  */
/* Eine Karte */
.paragraph-container {
  display: flex;
  flex-flow: column;
  background-attachment: fixed;
  margin:0;
  padding: 4rem 6% 4rem 6%;
}

/* Text der Karte */
.paragraph-text {
  margin-top: 3rem;
}

/* fuer Zitate */
.center {
  text-align: center;
  flex-flow:column;
}
.center * {
  max-width: 45rem;
}

/* Bild der Karte */
.paragraph-image {
  height: 40vh;
  width: 100vw;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.video {
  height: calc(40vw / (16/9)) 
}

/* Container der Größe des Bildschirms */
.fullscreen-container {
  display: flex;
  height: calc(100vh - 3.5rem);
  justify-content: center;
  align-items: center;
  min-height: 20rem;
}

.fullscreen-container * {
  margin-top: auto;
}



/* MEHR ERFAHREN */
.scrollButton {
  /* position: absolute; */
  margin-bottom: 5vh;
  cursor: pointer;
}

i.arrow {

  font-size: 1.75em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.3em;

  margin-top: 0.4em;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* GRAPHIC */

/* Verschwommen auf der Startseite */
.blur {
  filter: blur(2px);
}

/* Animierter Farb-Hintergrund */
.container-gradient1 {
  background: linear-gradient(17deg, #35e1b5, #ad0a7f);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}
  @-webkit-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
 }
  @-moz-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
}


/*GOOGLE ANALYTICS*/
.g-analytics {
  min-height: 26rem;
  max-width: 60rem;
  padding: 3rem;
  margin: auto;
}

/* FOOTER */

footer {
  border-top: 1px solid LightGray;
  font-size: 0.7rem;
  padding: 1rem 1.8rem 1rem 1.8rem;
  background-color: #363636;
  color: LightGray;
  text-align: center;

  display: grid;
  grid-template-rows: auto auto auto;
}
footer div {
  background-color: #363636;
  padding: 1em;
}

/* MEDIA QUERIES */
@media (min-width: 50rem) {
footer {
  grid-template-columns: repeat(3, 1fr);
}

}
@media (min-width: 82rem) {


  .paragraph-text {
    max-width: 40vw;
    margin-top: 0;
    margin: 0 3rem 0 3rem;

  }
  .paragraph-container {
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
    padding: 4rem 0 4rem 0;
    padding-left: calc((100vw - 100rem) / 2);
    padding-right: calc((100vw - 100rem) / 2);
  }
  .center {
    flex-flow: column;
  }
  .paragraph-image {
    margin: 0 3rem 0 3rem;
    width: 40vw;
    height: 70vh;
  }
  .video {
    height: calc(40vw / (16/9)) 
  }
  .reverse {
    flex-flow: row;
  }

}
