
.nav {
  /* width: 100%; */
  background-color: #b1c8ed;
}
p {
  margin: 0;
  font-size: 150%;
}
.pgcontent {
  padding-top: 3rem;
}
.paragraph-container {
  display: flex;
  flex-flow: column;
  background-attachment: fixed;
  margin:0;
  padding: 4rem 6% 4rem 6%;
}

.paragraph-text {
  max-width: 100%;
  margin-top: 3rem;
}

.paragraph-image {
max-width: 100%;
}


  @-moz-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
}



.blur {
  background-size:cover;
  filter: blur(2px);
}


@media (min-width: 62rem) {


  .paragraph-text {
    max-width: 35vw;
    margin-top: 0;
    margin-right: 6vw;
    margin-left: 6vw;
  }
  .paragraph-container {
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
    padding: 4rem 0 4rem 0;
  }
  .paragraph-image {
    margin: 0 6vw 0 6vw;
    max-height: 50vh;
    max-width: 45%;
  }
  .reverse {
    flex-flow: row;
  }

}
